{
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
